.btn {
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
}

.btn-lg {
  font-size: var(--font-size-l);
  padding: 1rem 2rem;
  color: var(--white);
}

.btn-md {
  font-size: var(--font-size-md);
  padding: 0.875rem 2rem;
  color: var(--white);
}

.btn-sm {
  font-size: var(--font-size-base);
  padding: 0.5rem 1.5rem;
  color: var(--white);
}

.btn-disabled {
  background-color: var(--silver);
}

.btn-primary-bg {
  background-color: var(--shade-1);
}

.btn-secondary-bg {
  border: 1px solid var(--shade-1);
  color: var(--shade-1);
  background-color: var(--white);
}

.btn-secondary-bg::hover {
  background-color: var(--silver);
}
